@import '../../../shared/styles/scss/variables';
@import '../../../shared/styles/scss/placeholders';
@import '../../../shared/styles/scss/core';

html, body, form {
  height: 100%;
}

body {
  @extend %frame-body;
}

.card-number {
  @extend %block;
}

.card-number__label {
  @extend %label;
}

.card-number__label--required {
  @extend %label--required;
}

.card-number__input {
  @extend %input;
}

.card-number__message {
  @extend %message;
}
