<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Trust Payments Minimal Example Form</title>
    <meta name="description" content="Trust Payments example page with form">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' data: localhost:8444 localhost:8443 https://cdn.eu.trustpayments.com/ https://songbirdstag.cardinalcommerce.com/ https://webservices.securetrading.net https://library.securetrading.net:8443 https://merchant.securetrading.net:8443 https://www.securetrading.com https://assets.secure.checkout.visa.com https://secure.checkout.visa.com https://sandbox-assets.secure.checkout.visa.com https://sandbox.secure.checkout.visa.com https://fonts.gstatic.com https://fonts.googleapis.com https://fonts.gstatic.com https://cloud.typography.com https://use.typekit.net https://fast.fonts.net https://ajax.googleapis.com https://www.google-analytics.com https://stats.g.doubleclick.net https://ssl.google-analytics.com https://code.jquery.com https://maxcdn.bootstrapcdn.com https://cdnjs.cloudflare.com https://www.google.com https://www.google.co.uk https://cyber.securetrading.net https://sync.1dmp.io https://www.example.com https://geostag.cardinalcommerce.com https://centinelapistag.cardinalcommerce.com https://0merchantacsstag.cardinalcommerce.com/; block-all-mixed-content; report-uri /process/payments/csplistener?sttoken=40-31f5ba6b356525a3cd68e682369075dcacda315ac0a3d855225b3c77fa54855e" />
    <link rel="icon" href="/img/favicon.webp" sizes="32x32">
    <link rel="icon" href="/img/favicon.webp" sizes="192x192">
    <link rel="apple-touch-icon" href="/img/favicon.webp">
  </head>
  <body>
    <main class="tp-minimal-form-example">
      <form id="st-form" class="tp-minimal-form"  action="https://www.example.com">
        <h1>Trust Payments Minimal Example Form</h1>
        <div id="st-notification-frame"></div>
        <div id="st-card-number"></div>
        <div id="st-expiration-date"></div>
        <div id="st-security-code"></div>
        <div id="st-control-frame"></div>
        <div id="st-animated-card"></div>
        <div id="st-apple-pay"></div>
        <button type="button" id="update-button" class="tp-minimal-form__button">Update JWT</button>
        <button type="submit" id="merchant-submit-button" class="tp-minimal-form__button">Pay</button>
      </form>
    </main>
    <script src="<%= LIBRARY_URL %>/st.js"></script>
    <script src="/inlineConfig.js"></script>
    <script src="<%= LIBRARY_URL %>/st.js"></script>
    <script>

      function callback() {
        console.error('This is callback function');
      }

      var ST = SecureTrading;

      window.addEventListener('load', function() {
        var params = new URLSearchParams(window.location.search.substring(1));
        var inlineConfig = params.get('inlineConfig') ? JSON.parse(params.get('inlineConfig')) : '';
        var jwt = params.get('jwt') || '';

        getConfig()
          .then(function(config) {
            init(config);
          });


        function getConfig() {
          if (inlineConfig) {
            return Promise.resolve(inlineConfig);
          }

          return window
            .fetch('<%= CONFIG_URL %>/config.json')
            .then(function(response) {
              if (response.status !== 200) {
                return Promise.reject('Failed to load configuration file!');
              }

              return response.json();
            })
            .then(function(config) {
              return getJwt(config).then(function(jwt) {
                return Object.assign(config, { jwt: jwt });
              });
            })
            .catch(function(error) {
              console.error(error);
            });
        }

        function getJwt(config) {
          var presetJwt = jwt || config.jwt;

          if (presetJwt) {
            return Promise.resolve(presetJwt);
          }

          return window.configJWT('<%= CONFIG_URL %>/jwtdata.json');
        }

        function init(config) {
          var st = ST(config);
          st.Components(config.components);
          st.VisaCheckout(config.visaCheckout);
          st.ApplePay(config.applePay);
          st.Cybertonica().then(function(response) {
            console.error(response);
          });
          if (browserInfo === "true") {
            document.getElementById('st-browser-info').innerText = JSON.stringify(st.getBrowserInfo());
          }
          updateJwtListener(st, updatedJwt);
        }

        function updateJwtListener(st, updatedJwt) {
          document.getElementById('update-button').addEventListener('click', function() {
              st.updateJWT(updatedJwt);
            }
          );
        }
      });

    </script>
  </body>
</html>
