<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Trust Payments Minimal Example Form</title>
    <meta name="description" content="Trust Payments example page with form">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="/img/favicon.webp" sizes="32x32">
    <link rel="icon" href="/img/favicon.webp" sizes="192x192">
    <link rel="apple-touch-icon" href="/img/favicon.webp">
</head>

<body>
<main class="tp-minimal-form-example">
    <form id="st-form" class="tp-minimal-form">
        <h1>Trust Payments Minimal Example Form</h1>
        <div id="st-notification-frame"></div>
        <div id="st-card-number"></div>
        <div id="st-expiration-date"></div>
        <div id="st-security-code"></div>
        <div id="st-control-frame"></div>
        <div id="st-animated-card"></div>
        <div id="st-apple-pay"></div>
        <button type="button" id="update-button" class="tp-minimal-form__button">Update JWT</button>
        <button type="submit" id="merchant-submit-button" class="tp-minimal-form__button">Pay</button>
    </form>
</main>
<script type="text/javascript" src="<%= LIBRARY_URL %>/st.js"></script>
<script type="text/javascript" src="/inlineConfig.js"></script>
<script type="text/javascript" src="<%= LIBRARY_URL %>/st.js"></script>
<script type="text/javascript">

  function callback() {
    console.error('This is callback function');
  }

  var ST = SecureTrading;

  window.addEventListener('load', function() {
    var params = new URLSearchParams(window.location.search.substring(1));
    var inlineConfig = params.get('inlineConfig') ? JSON.parse(params.get('inlineConfig')) : '';
    var jwt = params.get('jwt') || '';



     getConfig()
      .then(function(config) {
        init(config);
      });


    function getConfig() {
      if (inlineConfig) {
        return Promise.resolve(inlineConfig);
      }

      return window
        .fetch('<%= CONFIG_URL %>/config.json')
        .then(function(response) {
          if (response.status !== 200) {
            return Promise.reject('Failed to load configuration file!');
          }

          return response.json();
        })
        .then(function(config) {
          return getJwt(config).then(function(jwt) {
            return Object.assign(config, { jwt: jwt });
          });
        })
        .catch(function(error) {
          console.error(error);
        });
    }

     function getJwt(config) {
      var presetJwt = jwt || config.jwt;

      if (presetJwt) {
        return Promise.resolve(presetJwt);
      }

      return window.configJWT('<%= CONFIG_URL %>/jwtdata.json');
    }

    function init(config) {
      var st = ST(config);
      st.Components(config.components);
      st.VisaCheckout(config.visaCheckout);
      st.ApplePay(config.applePay);
      st.Cybertonica().then(function(response) {
        console.error(response);
      });
      if (browserInfo === "true") {
        document.getElementById('st-browser-info').innerText = JSON.stringify(st.getBrowserInfo());
      }
      updateJwtListener(st, updatedJwt);
    }

    function updateJwtListener(st, updatedJwt) {
      document.getElementById('update-button').addEventListener('click', function() {
          st.updateJWT(updatedJwt);
        }
      );
    }
  });

</script>

</body>
</html>
