html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $color-body;

  /* prettier-ignore */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.error-field {
  background-color: #f8d7da;
  color: #721c24;
  border-color: $border-color-notification-error;
  outline: 0;

  &:focus {
    outline: 0;
  }
}

.error-label {
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #ff4545;
}

@-webkit-keyframes autofill {
  to {
    background-color: #f8d7da;
    color: #721c24;
    border-color: $border-color-notification-error;
  }
}

input:-webkit-autofill.error-field {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.st-button-submit__disabled {
  opacity: .5;
  cursor: not-allowed;

  &:hover {
    background: transparent;
  }
}

.st-input {
  &--disabled {
    opacity: .5;
    cursor: not-allowed;
    background: transparent;
  }
}

.st-card-icon {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
}

.st-card-number,
.st-expiration-date,
.st-security-code {
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 45px;
  }

  &--lined-up {
    display: table-cell;
    vertical-align: top;
    height: 100vh;

    .st-security-code__wrapper,
    .st-expiration-date__wrapper,
    .st-card-number__wrapper {
      display: table-cell;
      width: calc(100vw - 105px);
      padding: 0;
      min-width: auto;
    }
  }
}

.st-form-container {
  display: table;
  width: 100%;
  height: 100%;
}

.card-number,
.expiration-date,
.security-code {
  padding: 0;
  display: table-cell;
  vertical-align: top;

  &__label.lined-up {
    display: table-cell;
    width: 100px;
    margin: 0;
    text-align: right;
  }
}
