%frame-body {
  display: none; // Don't display frame until override styles are applied
}

%block {
  position: relative;
}

%label {
  display: $display-label; // @param
  font-size: $font-size-label; // @param
  line-height: $line-height-label; // @param
  color: $color-label; // @param
  margin: $space-outset-label; // @param
}

%label--required {
  position: relative;

  span.asterisk {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    color: $color-error; // @param
    margin: 0 5px;
  }
}

%label--readonly {
  color: $color-label-readonly; // @param

  &:after {
    color: $color-placeholder; // @param
  }
}

%input {
  box-sizing: border-box;
  width: 100%;
  font-size: $font-size-input; // @param
  line-height: $line-height-input; // @param
  color: $color-input; // @param
  border: $border-size-input solid $border-color-input; // @param
  border-radius: $border-radius-input; // @param
  padding: $space-inset-input; // @param
  margin: $space-outset-input; // @param

  &::placeholder {
    color: $color-input-placeholder; // @param
  }
}

%input--readonly {
  color: $color-input-readonly; // @param
  border-color: $border-color-input-readonly; // @param
}

%message {
  font-size: $font-size-message; // @param
  line-height: $line-height-message; // @param
  margin: $space-outset-message; // @param
  color: $color-error; // @param
  visibility: hidden;
}

%button {
  font-size: $font-size-button; // @param
  line-height: $line-height-button; // @param
  color: $color-button; // @param
  border: $border-size-button solid $border-color-button; // @param
  border-radius: $border-radius-button; // @param
  background-color: $background-color-button; // @param
  padding: $space-inset-button; // @param
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $background-color-button-hover; // @param
  }
}
