<div class="st-form-container">
  <div id="st-expiration-date" class="expiration-date">
    <label
      id="st-expiration-date-label"
      for="st-expiration-date-input"
      class="expiration-date__label expiration-date__label--required"
    >
    </label>
    <div class="st-expiration-date__wrapper" id="st-expiration-date-wrapper">
        <input
          id="st-expiration-date-input"
          class="expiration-date__input"
          type="text"
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
          inputmode="numeric"
          required
        />
        <div id="st-expiration-date-message" class="expiration-date__message"></div>
    </div>
  </div>
</div>
