@import '../../../shared/styles/scss/variables';
@import '../../../shared/styles/scss/placeholders';
@import '../../../shared/styles/scss/core';

html, body, form {
  height: 100%;
}

body {
  @extend %frame-body;
}

.expiration-date {
  @extend %block;
}

.expiration-date__label {
  @extend %label;
}

.expiration-date__label--required {
  @extend %label--required;
}

.expiration-date__input {
  @extend %input;
}

.expiration-date__message {
  @extend %message;
}
