body, html {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  width: 100%
}

.st-animated-card-wrapper {
  height: 8.1rem;
  width: 100%;
  border: 0;
  overflow: hidden;
  min-height: 30rem
}

.st-animated-card {
  min-height: 30rem;
  perspective: 100rem;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}

.st-animated-card, .st-animated-card__content {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%
}

.st-animated-card__content {
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 23rem;
  max-width: 36rem;
  min-width: 33rem;
  margin: 1rem;
  transform-style: preserve-3d
}

@media (max-width: 22rem) {
  .st-animated-card__content {
    max-height: 20.5rem;
    max-width: 32rem
  }

  .st-animated-card__chip-logo {
    max-width: 4rem
  }
}

@media (max-width: 19rem) {
  .st-animated-card__content {
    max-height: 17rem;
    max-width: 27rem
  }

  .st-animated-card__chip-logo {
    max-width: 4rem
  }
}

@media (max-width: 16rem) {
  .st-animated-card__content {
    max-height: 15.5rem;
    max-width: 24rem
  }

  .st-animated-card__chip-logo {
    max-width: 3rem
  }
}

.st-animated-card__back, .st-animated-card__front {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(circle, #c1c1c1 0, #6c6c6c 100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .24);
  box-sizing: border-box;
  z-index: 2;
  padding: 1.5rem 2.5rem
}

.st-animated-card__amex, .st-animated-card__astropaycard, .st-animated-card__diners, .st-animated-card__discover, .st-animated-card__jcb, .st-animated-card__maestro, .st-animated-card__mastercard, .st-animated-card__piba, .st-animated-card__visa {
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem
}

.st-animated-card .st-animated-card__payment-logo-img {
  position: absolute;
  top: 2rem;
  right: 1rem
}

.st-animated-card .st-animated-card__payment-logo--default {
  background: transparent
}

.st-animated-card__default {
  background: radial-gradient(circle, #c1c1c1 0, #6c6c6c 100%)
}

.st-animated-card__amex {
  background: radial-gradient(circle, #3ca2b7 0, #16343c 100%)
}

.st-animated-card__astropaycard {
  background: radial-gradient(circle, #333 0, #000 100%)
}

.st-animated-card__astropaycard .st-animated-card__signature {
  background-color: hsla(0, 0%, 67.5%, .25)
}

.st-animated-card__diners, .st-animated-card__discover {
  background: radial-gradient(circle, #2b5b8f 0, #0d1a51 100%)
}

.st-animated-card__jcb, .st-animated-card__maestro {
  background: radial-gradient(circle, #3c62b7 0, #1c3380 100%)
}

.st-animated-card__mastercard {
  background: radial-gradient(circle, #333 0, #000 100%)
}

.st-animated-card__mastercard .st-animated-card__signature {
  background-color: hsla(0, 0%, 67.5%, .25)
}

.st-animated-card__piba {
  background: radial-gradient(circle, #461259 0, #6b2c6f 100%)
}

.st-animated-card__visa {
  background: radial-gradient(circle, #3c62b7 0, #1c3380 100%)
}

.st-animated-card__front:after, .st-animated-card__front:before {
  position: absolute;
  content: "";
  opacity: .1;
  background: linear-gradient(180deg, #333, #222)
}

.st-animated-card__front:after {
  height: 21rem;
  width: 12rem;
  bottom: 0;
  left: 0;
  border-radius: 0 79rem 41rem 4rem
}

.st-animated-card__front:before {
  height: 24rem;
  width: 38rem;
  border-radius: 238rem 98rem 38rem 5rem;
  left: 3rem;
  top: 9rem
}

.st-animated-card__back {
  transform: rotateY(180deg);
  transition: transform 1.2s ease-in-out
}

.st-animated-card__front {
  transform: rotateY(0deg);
  transition: transform 1.2s ease-in-out
}

.st-animated-card__flip-card .st-animated-card__front {
  transform: rotateY(-180deg);
  transition: transform 1.2s ease-in-out
}

.st-animated-card__flip-card .st-animated-card__back {
  transform: rotateY(0deg);
  transition: transform 1.2s ease-in-out
}

.st-animated-card__content {
  position: relative
}

.st-animated-card__logos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50%;
  z-index: 1
}

.st-animated-card__chip-logo {
  -ms-flex-item-align: end;
  align-self: flex-end
}

.st-animated-card__chip-logo-img {
  max-width: 100%;
  display: block;
  height: auto
}

.st-animated-card__payment-logo {
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 12rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0 0 0 10rem;
  width: 12rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width: 22rem) {
  .st-animated-card__payment-logo {
    width: 10rem;
    height: 10rem;
    border-radius: 0 0 0 9rem
  }

  .st-animated-card__payment-logo-img {
    max-width: 6rem
  }
}

@media (max-width: 19rem) {
  .st-animated-card__payment-logo {
    width: 9rem;
    height: 9rem;
    border-radius: 0 0 0 7rem
  }

  .st-animated-card__payment-logo-img {
    max-width: 6rem
  }
}

@media (max-width: 16rem) {
  .st-animated-card__payment-logo {
    width: 8rem;
    height: 8rem;
    border-radius: 0 0 0 7rem
  }

  .st-animated-card__payment-logo-img {
    max-width: 5rem
  }
}

.st-animated-card__label {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #bababa;
  text-transform: uppercase;
  line-height: 1.1rem
}

.st-animated-card__value {
  font-family: Courier New, Courier, monospace;
  font-size: 2rem;
  font-weight: 700;
  color: #cdcdcd;
  text-shadow: -.1rem .1rem .4rem rgba(0, 0, 0, .5);
  display: -ms-flexbox;
  display: flex;
  height: 2.75rem;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width: 22rem) {
  .st-animated-card__value {
    font-size: 1.4rem;
    margin-top: 0
  }

  .st-animated-card__label {
    font-size: .9rem
  }
}

@media (max-width: 19rem) {
  .st-animated-card__value {
    font-size: 1.3rem;
    margin-top: 0
  }

  .st-animated-card__label {
    font-size: .8rem
  }
}

@media (max-width: 16rem) {
  .st-animated-card__value {
    font-size: 1.2rem;
    margin-top: 0
  }

  .st-animated-card__label {
    font-size: .7rem
  }
}

.st-animated-card__pan {
  height: 4rem;
  margin-bottom: 1.25rem
}

.st-animated-card__expiration-date-and-security-code {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.st-animated-card__signature {
  height: 10rem;
  width: 100%;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 1rem;
  margin-bottom: 2rem
}

.st-animated-card__security-code {
  background-color: #fff;
  height: 4rem;
  width: 23rem;
  font-family: Helvetica, sans-serif;
  border-radius: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 2rem;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.st-animated-card__security-code--front {
  background-color: transparent;
  width: 30%;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Courier New, Courier, monospace;
  color: #bababa;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

.st-animated-card__security-code--front-hidden {
  visibility: hidden
}

@media (max-width: 22rem) {
  .st-animated-card__security-code {
    width: 20rem
  }
}

@media (max-width: 19rem) {
  .st-animated-card__security-code {
    width: 16rem;
    height: 3rem
  }
}

@media (max-width: 16rem) {
  .st-animated-card__security-code {
    width: 13rem;
    height: 3rem
  }
}

.st-animated-card__expiration-date {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #ff4545
}

button[disabled], input[disabled] {
  background-color: #fff;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: .7;
  cursor: not-allowed
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #333;
  font-family: Ubuntu, sans-serif
}

header {
  display: -ms-flexbox;
  display: flex
}

@media screen and (max-width: 70rem) {
  header {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 2rem
  }
}

@-webkit-keyframes autofill {
  to {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #ff4545
  }
}

input:-webkit-autofill.error-field {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both
}

.merchants-form {
  margin: auto
}

.merchants-form__field, .merchants-form__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center
}

.merchants-form__field {
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 11rem
}

.merchants-form__field--error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #ff4545
}

.merchants-form__input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.6rem;
  color: #333;
  border: .1rem solid #6d6d6d;
  border-radius: .4rem;
  padding: 1.1rem .8rem;
  margin: .8rem 0 .4rem
}

.merchants-form__error {
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #ff4545;
  height: 3rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem
}

/*# sourceMappingURL=example.css.map*/
