@import '../../../src/shared/styles/scss/variables';
@import '../../../src/shared/styles/scss/placeholders';
@import '../../../src/shared/styles/scss/core';

.st-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 0.1rem solid $color-placeholder;

  &__title {
    font-size: 24px;
    color: $color-body;
  }

  &__logo {
    margin: 0 10px 0 0;
  }

  &__logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}

.st-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 25px;

  &__price {
    font-weight: 700;
  }

  &__spacer {
    height: $space-l * 2;
  }

  &__fieldset {
    margin: 15px 0;

    legend {
      font-weight: 700;
    }
  }

  &__label {
    @extend %label;

    abbr {
      color: red;
    }
  }

  &__label--required {
    @extend %label--required;
  }

  &__input {
    @extend %input;
  }

  &__message {
    @extend %message;
  }

  &__button {
    @extend %button;
  }

  &__field {
    width: 100%;
    margin: 10px 10px 10px 0;
  }

  &__group--submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__section--horizontal {
    display: flex;
    justify-content: space-between;
  }

  &__section-horizontal {
    .st-form__group {
      flex: 1;
      margin: 0 0 0 $space-l;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.st-footer {
  background-color: #333;
  color: #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 90px;
}

.st-popup {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 70px;
  right: 0;
  color: white;
  padding: 0 50px;
  align-items: center;
  border-radius: 10px;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  z-index: 2;
}

