@import '../../../shared/styles/scss/variables';
@import '../../../shared/styles/scss/placeholders';
@import '../../../shared/styles/scss/core';

html, body, form {
  height: 100%;
}

body {
  @extend %frame-body;
}

.security-code {
  @extend %block;
}

.security-code__label {
  @extend %label;
}

.security-code__label--required {
  @extend %label--required;
}

.security-code__input {
  @extend %input;
}

.security-code__message {
  @extend %message;
}
