<div class="st-form-container">
  <div id="st-security-code" class="security-code">
    <label
      id="st-security-code-label"
      for="st-security-code-input"
      class="security-code__label security-code__label--required"
    >
    </label>
    <div class="st-security-code__wrapper" id="st-security-code-wrapper">
        <input
          id="st-security-code-input"
          class="security-code__input"
          type="text"
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
          inputmode="numeric"
          required
        />
        <div id="st-security-code-message" class="security-code__message"></div>
    </div>
  </div>
</div>
